<h1>Добавить новую книгу</h1>

<%= simple_form_for @book do |form| %>
  <%= form.input :title %>
  <%= form.input :poster %>
  <%= form.input :author_id %>
  <%= form.input :description %>

  <%= form.submit "Создать книгу" %>
<% end %>
