<div class="container mt-6 px-4 mx-auto">
  <div class="flex flex-row">
    <div class="basis-1/2">
      <div class="flex-col">
        <%= image_tag "https://fantlab.ru/images/editions/orig/314325?r=1619003873",
                      class: "w-64 rounded-r-2xl" %>


        <div tabindex="0" class="dropdown dropdown-hover w-full">
          <div class="mt-3 pointer-events-auto rounded-md py-2 px-4 text-center font-medium shadow-sm ring-1 ring-slate-700/10 hover:bg-slate-50">
            Хочу прочитать 🤩
          </div>
          <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
            <li><a>Сейчас читаю 🤔 </a></li>
            <li><a>На паузе 💤</a></li>
            <li><a>Брошено 💀</a></li>
            <li><a>Прочитал 🤓</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="basis-4/3">
      <div class="flex flex-col mx-6 md-2">
        <p class="text-4xl font-bold"> <%= @book.title %> </p>
        <p class="text-xl mt-3"> <%= @author %> </p>
        <%= link_to 'Редактировать описание', edit_book_path(@book), data: { "turbo-frame": "description"} %>
        <p class="text mt-8 text-left	"> <%= @book.description %> </p>

        <%= turbo_frame_tag "description" do %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="flex flex-row px-4 py-8 sm:px-6 lg:px-8">
    <div class="basis-2/3">
      <h2 class="text-xl font-bold sm:text-2xl">Коментарии</h2>

      <%= render "comments/form", comment: @comment %>

      <% if @comments.present? %>
        <% @comments.reverse.each do |comment| %>
          <div class="flex bg-white dark:bg-gray-800 min-w-full">
            <div class="bg-white dark:bg-gray-800 text-black dark:text-gray-200 p-2 antialiased flex min-w-full">
              <img class="rounded-full h-8 w-8 mr-2 mt-1 " src="https://picsum.photos/id/1027/200/200"/>
              <div>
                <div class="bg-gray-100 dark:bg-gray-700 rounded-3xl px-4 pt-2 pb-2.5">
                  <div class="font-semibold text-sm leading-relaxed">Jon Doe</div>
                  <div class="text-normal leading-snug md:leading-normal break-all"><%= comment.text %></div>
                </div>
                <div class="text-sm ml-4 mt-0.5 text-gray-500 dark:text-gray-400">14 w</div>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="grid h-auto px-4 bg-white place-content-center">
          <div class="text-center">
            <%= inline_svg_tag("MessyDoodle.svg", class: "w-80 h-80 mx-auto text-black sm:h-64") %>
            <h1 class="mt-6 text-xl tracking-tight text-gray-900">
              Пока что комментариев нет, но ты можешь стать первым
            </h1>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>
